*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    overflow-y:unset;
    background:#000000d1;
    
}
/* header{
    position:sticky;
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#038ac7;
    color: white;
    z-index: 1;
    position:relative;
    animation: navanime ease 1s;
    animation-iteration-count: 1;
    justify-content:space-between;
    /* position:sticky; */
}
.webname{
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    margin: .7rem;
    font-size:2.5rem;
    cursor: default;
    user-select: none;
    font-weight:500;
}
.navbarlinks ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbarlinks li{
    list-style: none;
}
.navbarlinks li a{
    text-decoration:none ;
    color: white;
    font-size:20px;
    padding: 1rem;
    display: block;
    font-family: 'Times New Roman', Times, serif ;
    margin: 10px 20px;
    left: 50px;
}
.navbarlinks li a::after{
    content: '';
    display: block;
    position: absolute;
    height: 0.4em;
    width: 0%;
    background-color: black;
    transition: all ease-in-out .5s;
}
.navbarlinks li a:hover::after{
    width: 5%;
}
.navbarlinks li a:hover{
    color: black;
}

.navbarlinks li:hover{
    background-color: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    border-radius: 9pt;
    
}
#toggle{
    display: none;
}
.toggle .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10pt;
}
.cross{
    visibility: hidden;
}
header{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}
@media (max-width: 750px){
    #toggle{
        position: absolute;
        right: 0%;
        top: 0%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 20px 40px 0 0;
        z-index: 11;
    }
    .navbarlinks li:hover{
        background-color: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
        box-shadow: 0px 0px 0px red;
    }
    .navbarlinks{
        position: absolute;
        right: -5000px;
        top: 0;
        background-color: red;
        width: 100%;
        z-index: 11;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        z-index: 11;
    }
     .navbarlinks ul {
        width: 100%; 
        flex-direction: column;
        z-index: 11;
    }
     .navbarlinks li{
        text-align: left;
        margin: 0px 20px;
    }
    .navbarlinks li a{
        padding: .5rem 1rem;
    }
    .navbarlinks.active{
        display: flex;
    }
    .cross{
        visibility: visible;
    }
    li .cross{
        margin-top: 30px;
        color: black;
        margin-left: 130px;
    }
    li .cross:hover{
        background-color: white;
        border-radius: 4pt;
    }
    .navbarlinks li a::after{
        content: '';
        display: block;
        position: absolute;
        height: 0.4em;
        width: 0%;
        background-color: red;
        transition: all ease-in-out .3s;
    }
    .navbarlinks li a:hover::after{
        width: 13%;
    }
    .navbarlinks li a:hover{
        color: black;
    }
}
.second{
    /* display: flex;
    flex-wrap: wrap; */
    background: url(bgimaghome.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 20%;
    z-index: 0;
    animation: welcominganime ease 1s;
    animation-iteration-count: 1;
    /* filter: blur(1px); */
}
.welcomingPart{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    width: 100%;
    justify-content: center;
    display: flex;
    height: 80vh;
    /* z-index: 0; */
}
  h1 {  
    margin: 0;  
    font-weight: bold;  
    font-size: 24px;  
    line-height: 32px;  
    color: #26384e;  
    transform: translateY(20px);  
    transition: all 0.4s ease;  
    transition-delay: 0.2s;  
    overflow: hidden;  
    max-width: 100%;  
    text-overflow: ellipsis;  
    white-space: nowrap;  
}  
@media screen and (max-width: 520px) {  
    h1 {  
         font-size: 16px;  
         line-height: 24px;  
   }  
}  
p {  
    font-size: 16px;  
    line-height: 24px;  
    color: #889db8;  
    transform: translateY(20px);  
    transition: all 0.4s ease;  
    transition-delay: 0.3s;  
    display: -webkit-box;  
    -webkit-line-clamp: 3;  
    -webkit-box-orient: vertical;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}  
@media screen and (max-width: 520px) {  
    p {  
         font-size: 14px;  
         line-height: 20px;  
   }  
}  
.swiper-wrapper {  
    width: 100%;  
    height: 100%;  
    display: flex;  
    align-items: center;  
    z-index: 1;  
    position: relative;  
}  
.swiper-container {  
    background: linear-gradient(270deg, rgba(247, 249, 255, 1) 0%, rgba(242, 246, 255, 1) 100%);  
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  
    width: 100%;  
    position: relative;  
    max-width: 100%;  
    height: 100%;  
    max-height: 600px;  
    border-radius: 10px;  
}  
.slider-image-wrapper {  
    height: 500px;  
    width: 100%;  
    overflow: hidden;  
}  
.slider-item {  
    width: 100%;  
    height: 100%;  
    /* border-radius: 10px;   */
    overflow: hidden;  
    display: flex;  
    /* flex-direction: column;   */
    flex-shrink: 0;  
    opacity: 0;  
    background: linear-gradient(270deg, rgba(247, 249, 255, 1) 0%, rgba(242, 246, 255, 1) 100%);  
    cursor: grab;  
}  
.slider-item-content {  
    padding: 32px;  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    transition: 0.4s;  
}  
.slider-item-content > * {  
    opacity: 0;  
    /* transform: translateY(20px);   */
}  
.swiper-slide-active .slider-item-content > * {  
    transform: translateY(0px);  
    opacity: 1;  
}  
.slider-image {  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    transition: 0.2s;  
}  
.swiper-pagination {  
    position: absolute;  
    left: 50%;  
    bottom: 8px;  
    transform: translatex(-50%);  
    z-index: 1;  
    width: auto !important;  
}  
.swiper-pagination-bullet {  
    border-radius: 0;  
    width: 8px;  
    height: 8px;  
    border-radius: 50%;  
    line-height: 30px;  
    font-size: 12px;  
    opacity: 1;  
    background: rgba(255, 185, 0, 0.3);  
    display: inline-block;  
    margin-right: 8px;  
    cursor: pointer;  
    transition: all 0.2s;  
}  
.swiper-pagination-bullet-active {  
    background: #ffb200;  
    width: 20px;  
    /* border-radius: 10px;   */
}  
.slider-buttons {  
    position: absolute;  
    display: flex;  
    top: 100%;  
    justify-content: flex-end;  
    width: 100%;  
    padding-top: 8px;  
}  
.swiper-button-next, .swiper-button-prev {  
    background-color: transparent;  
    border: none;  
    cursor: pointer;  
    outline: none;  
    color: #000;  
    position: relative;  
    margin-left: 4px;  
}  
.swiper-button-next:before, .swiper-button-prev:before {  
    content: '';  
    position: absolute;  
    background-color: #fff;  
    height: 1px;  
    width: 0;  
    left: 0;  
    bottom: -1px;  
    transition: 0.2s;  
}  
.swiper-button-next:hover:before, .swiper-button-prev:hover:before {  
    width: 100%;  
}  
.socials {  
    position: fixed;  
    top: 12px;  
    right: 16px;  
    display: flex;  
    align-items: center;  
}  
.socials .social-link {  
    display: inline-block;  
    margin-left: 8px;  
    color: #fff;  
}  
@media screen and (max-width: 520px) {  
    .swiper-button-next:hover:before, .swiper-button-prev:hover:before {  
         display: none;  
   }   }
.slider-body {  
    font-family: 'Montserrat', sans-serif;  
    margin: 0;  
    width: 100%;  
    height: 80vh;
    /* background-image: linear-gradient(45deg, rgba(255, 166, 0, 1) 14.7%, rgba(255, 99, 97, 1) 73%);   */
    /* background-size: 200% 200%;   */
    /* animation: gradient 15s ease infinite;   */
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-direction: column;  
    padding: 32px;  
}   
@keyframes gradient {  
    0% {  
         background-position: 0% 50%;  
   }  
    50% {  
         background-position: 100% 50%;  
   }  
    100% {  
         background-position: 0% 50%;  
   }  
}  
@media screen and (max-width: 1200px) {  
    .slider-item {  
         flex-direction:column;   
     }  
     .swiper-container{
          max-height: 420px;
     }
}  
footer{
    width: 100%;
    position:relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    /* border-top-left-radius: 125px; */
    font-size: 13px;
    line-height: 20px;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    margin-top: 10px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    /* width: 100%; */
    background: transparent;
    color:#ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #ccc;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;}
/* }
.folow-links{
    display: flex;
    flex-wrap: wrap;
} */
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;}

.copyright{
    display: flex;
    justify-content: space-between;
} 
.folow-links .fav{
    width: 30px;
    height: 30px;
    border-radius:50% ;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
    background: #000;
    margin-right: 15px;
    cursor: pointer;
    border:2px solid white;
}
.folow-links .fav:hover{
    /* font-size: 200px; */
    color: red;
    /* width: 35px;
    height: 35px; */
}
#facebook{
    color:#000;
    background: #fff;
    /* width: 100%; */
}
#facebook:hover{
    background:red;

}
.wname{
    margin-left: 3em;
    flex-basis: 15%;
}
.wname h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 10%;
    margin-top: -15%;
    user-select: none;
    cursor: pointer;
}
.wname .p{
    font-size: 20px;
}
.email{
    margin-left: -5%;
}
.email h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 7%;
}
.email p{
    margin-top:2em;
}
.call-us{
    margin-right: 3%;
    margin-left: -5%;
}
.folow-links{
    margin-left: -5%;
}
.folow-links h1{
    margin-bottom: 10%;
    font-size: 25px;
    font-weight: lighter;
}
.call-us h1{
    margin-bottom: 10%;
    font-size: 25px;
    font-weight: lighter;
}
.call-us p{
    font-size: 17px;
}
#copy{
    text-align: left;
    margin-left: 4%;
    user-select: none;
    cursor: not-allowed;
}
#privacy{
    text-align: center;
    margin-right: 4%;
    cursor: pointer;
}
#first{
    margin-right: 3%;
    margin-left: -3%;
    user-select: none;
    cursor: pointer;
}
#first:hover{
    color: turquoise;
}
#second{
    user-select: none;
    cursor: pointer;
}
#second:hover{
    color: turquoise;
}
@media (max-width:720px) {
    .email{
        margin-left: 0%;
    }
    .folow-links{
        margin-left: 0%;
    }
}
.chitkarainfo{
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    text-align: center;
    /* justify-content:space-between; */
    /* align-items: center; */
}
.infochit{
    width: 450px;
    /* box-shadow: 0px 0px 100px 100px rgb(211, 209, 209); */
    border-radius: 20px;
    flex-basis: 50%;
}
.content{
    /* display: inline-block; */
    /* margin: 30em; */
    text-align: center;
    flex-basis: 50%;
    width: 50%;
}
.heading{
    text-align: center;
}
img {
width: 100%;
}

.card {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 2rem;
background: #f1f1f1;
margin-bottom: 2rem;
}

.card h3 {
margin-bottom: 2rem;
}
.card img {
    order: 2;
  }
.card img {
height: 400px;
}

.card > div {
padding: 2rem;
}

@media(max-width:700px) {
.card {
display: block;
}
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background-image: url(t8.jpg);
    color: white;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
    font-size:20px;
    color:yellow;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}
  .containerr{  
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");  
    display: flex;  
    flex-wrap: wrap;  
    /* height: 100vh;   */
    /* align-items: center;   */
    /* justify-content: center;   */
    padding: 0 20px;  
   }  
   .rating {  
    display: flex;  
    width: 100%;  
    justify-content: center;  
    overflow: hidden;  
    flex-direction: row-reverse;  
    height: 150px;  
    position: relative;  
   }  
   .rating-0 {  
    filter: grayscale(100%);  
   }  
   .rating > input {  
    display: none;  
   }  
   .rating > label {  
    cursor: pointer;  
    width: 40px;  
    height: 40px;  
    margin-top: auto;  
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");  
    background-repeat: no-repeat;  
    background-position: center;  
    background-size: 76%;  
    transition: .3s;  
   }  
   .rating > input:checked ~ label,  
   .rating > input:checked ~ label ~ label {  
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");  
   }  
   .rating > input:not(:checked) ~ label:hover,  
   .rating > input:not(:checked) ~ label:hover ~ label {  
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");  
   }  
   .emoji-wrapper {  
    width: 100%;  
    text-align: center;  
    height: 100px;  
    overflow: hidden;  
    position: absolute;  
    top: 0;  
    left: 0;  
   }  
   .emoji-wrapper:before,  
   .emoji-wrapper:after{  
    content: "";  
    height: 15px;  
    width: 100%;  
    position: absolute;  
    left: 0;  
    z-index: 1;  
   }  
   .emoji-wrapper:before {  
    top: 0;  
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);  
   }  
   .emoji-wrapper:after{  
    bottom: 0;  
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);  
   }  
   .emoji {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    transition: .3s;  
   }  
   .emoji > svg {  
    margin: 15px 0;   
    width: 70px;  
    height: 70px;  
    flex-shrink: 0;  
   }  
   #rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }  
   #rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }  
   #rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }  
   #rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }  
   #rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }  
   .feedback {  
    max-width: 360px;  
    background-color: #fff;  
    width: 100%;  
    padding: 30px;  
    border-radius: 8px;  
    display: flex;  
    flex-direction: column;  
    flex-wrap: wrap;  
    align-items: center;  
    box-shadow: 0 4px 30px rgba(0,0,0,.05);  
   }
   #bar{
    height: 15vh;
    background-color: lightskyblue;
  }
  #column {
    width: 25vw;
    height: 15vh;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #column p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  #icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* position:; */
    width: 75vw;
    margin-left: 25vw;
    margin-top: -12vh;
  }
  #ieee-icon img {
    height: 8vh;
    width: 10vw;
  }
  #ieee-icon img:hover{
      transform:scale(1.1);
  }
  #c2s2 img:hover{
    transform:scale(1.1);
}
#ebuzz img:hover{
    transform:scale(1.1);
}
#bnb img:hover{
    transform:scale(1.1);
}
#matrix img:hover{
    transform:scale(1.1);
}
#gdsc img:hover{
    transform:scale(1.1);
}
  #c2s2 img {
    height: 8vh;
    width: 10vw;
  }
  #ebuzz img {
    height: 8vh;
    width: 10vw;
  }
  #bnb img {
    height: 8vh;
    width: 10vw;
  }
  #matrix img {
    height: 8vh;
    width: 10vw;
  }
  #gdsc img {
    height: 8vh;
    width: 10vw;
  }
  @media screen and (max-width: 300px){
    div#bar {
      display: none;
    }
  }
  .container {  
    height: 100vh;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
   }  
   .container p {  
    font-size: 2rem;  
    padding: 0.5rem;  
    font-weight: bold;  
    letter-spacing: 0.1rem;  
    text-align: center;  
    overflow: hidden;  
   }  
   .container p span.typed-text {  
    font-weight: normal;  
    font-size: 61px;
    text-transform: uppercase;
    color:#fff; 
    text-shadow: 2px 2px 5px yellowgreen; 
   }  
   .container p span.cursor {  
    display: inline-block;  
    background-color: #ccc;  
    margin-left: 0.1rem;  
    width: 3px;  
    animation: blink 1s infinite;  
   }  
   .container p span.cursor.typing {  
    animation: none;  
   }  
   @keyframes blink {  
    0% { background-color: #ccc; }  
    49% { background-color: #ccc; }  
    50% { background-color: transparent; }  
    99% { background-color: transparent; }  
    100% { background-color: #ccc; }  
   }

   @media(max-width:700px){
    .container p span.typed-text {  
        font-weight: normal;  
        font-size: 31px;
        text-transform: uppercase;
        color: #fff;  
       }  
   }
   
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.explore{
    font-size: 100px;
    color:#ff9800;
    text-shadow: 2px 2px 5px white;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    display: flex;
    margin-top: -10%;
    justify-content: center ;
}
@media(max-width:720px){
    .welcomingPart{
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
        width: 100%;
        justify-content: center;
        display: flex;
        height: 70vh;
        /* z-index: 0; */
    }
    .explore{
        font-size: 50px;
        color: red;
        text-shadow: 2px 2px 5px white;
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
        display: flex;
        margin-top: -10%;
        justify-content: center ;
    }
}
.noticehead{
    text-align: center;
    margin-top: 5%;
}
.noticehead h1{
    text-decoration:underline;
    font-size:40px;
    color:#ffc107;
}
.noticehead p{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    font-size:17px;
    color:#fff;
}
.univ{
    text-align: center;
    margin-bottom: 4%;
    margin-top: 4%;
}
.univ h1{
    text-transform:Capitalize;
    text-decoration: underline;
    font-size:35px;
    color:#fff;
}
.univ h1:hover{
     font-size:40px;
     color:#ffc107;
}
.quotes{
    text-align: center;
}
.quotes h1{
    text-decoration: underline;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size:40px;
    color:#fff;
}
.quotes h1:hover{
   color:orange;
}
::-webkit-scrollbar{
    width: 0;
}
.svg text{
    stroke:#fff;
    font-size: 30px;
    /* font-weight: 700; */
    /* stroke-width: 5; */
    animation: textanime 5s infinite alternate;
}
@keyframes textanime {
    0%{
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
    }
    100%{
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;
    }
}
.not:hover{
    transform: scale(1.1);
    color: burlywood;
}